tensorflow>=2.2.0
numpy
matplotlib
keras
mlflow
scikit-learn
Flask-SQLAlchemy
mysql-connector-python
mysqlclient
h5py
tqdm
scikit-image
protobuf>=3.8.0
click
torchfile
scipy
pandas
opencv-python
tensorflow-datasets
tensorflow_ranking==0.3.1